DOCKERHUB_NAMESPACE=vinugawade
APP_TAG=prod

DRUPAL_ENV=prod
DRUPAL_HASH_SALT=replace-with-long-random-value

DRUPAL_DATABASE_HOST=db
DRUPAL_DATABASE_PORT=3306
DRUPAL_DATABASE_NAME=growbig
DRUPAL_DATABASE_USER=growbig
DRUPAL_DATABASE_PASSWORD=replace-db-password
MARIADB_ROOT_PASSWORD=replace-root-password

DRUPAL_TRUSTED_HOSTS=admin.growbigllp.com,api.growbigllp.com
DRUPAL_PUBLIC_FILES=sites/default/files
DRUPAL_PRIVATE_FILES=../private

VITE_API_BASE_URL=https://api.growbigllp.com

DRUPAL_ADMIN_PASSWORD=replace-admin-password
