<?xml version="1.0"?>
<ruleset name="Site Platform">
  <description>Drupal coding standards for Site Platform custom code.</description>

  <file>web/modules/custom</file>
  <file>web/themes/custom</file>

  <exclude-pattern>*/vendor/*</exclude-pattern>
  <exclude-pattern>*/node_modules/*</exclude-pattern>

  <arg name="extensions" value="php,module,inc,install,test,profile,theme"/>
  <arg name="colors"/>
  <arg value="p"/>

  <rule ref="Drupal"/>
  <rule ref="DrupalPractice"/>
</ruleset>
