openapi: 3.0.3
info:
  title: GrowBig Site Platform API
  description: Frontend-ready API documentation for the reusable GrowBig Site Platform Drupal backend.
  version: 0.1.0

servers:
  - url: https://growbig-web.ddev.site
    description: Local DDEV
  - url: https://api.growbig-web.ddev.site
    description: Local DDEV API domain

tags:
  - name: Site
    description: Global site profile, branding, contact, SEO, social, and footer settings.

paths:
  /api/v1/site:
    get:
      tags:
        - Site
      summary: Get active site profile
      description: Returns the active default Site Profile in a frontend-ready JSON structure.
      operationId: getSiteProfile
      responses:
        '200':
          description: Active site profile response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SiteProfile'
              examples:
                growbig:
                  summary: GrowBig local site profile
                  value:
                    id: growbig
                    type: site
                    name: GrowBig Technologies LLP
                    shortName: GrowBig
                    tagline: Building digital excellence for startups and enterprises across India and beyond.
                    description: GrowBig Technologies LLP delivers modern websites, mobile applications, cloud solutions, digital transformation, AI-powered software, branding, and technology consulting for startups and enterprises.
                    domains:
                      primary: https://growbig-web.ddev.site
                      ui: https://ui.growbig-web.ddev.site
                      admin: https://admin.growbig-web.ddev.site
                      api: https://api.growbig-web.ddev.site
                      website: https://growbig-web.ddev.site
                    contact:
                      email: hello@growbigtech.in
                      phone: '+91 00000 00000'
                      alternatePhone: '+91 98765 43210'
                      address: Narayan Arcade, 1st Floor Above Axis Bank Near ST Stand, Sawantwadi
                      city: Sawantwadi
                      state: Maharashtra
                      country: India
                      postalCode: ''
                      workingHours: "Mon - Sat: 9:00 AM - 7:00 PM\nSunday: Closed"
                      map:
                        url: https://maps.google.com/?q=Sawantwadi,Maharashtra,India
                        latitude: 15.9046
                        longitude: 73.8213
                    social:
                      - platform: Facebook
                        url: https://www.facebook.com/
                        icon: facebook
                        order: 10
                      - platform: LinkedIn
                        url: https://www.linkedin.com/
                        icon: linkedin
                        order: 20
                    theme:
                      color: '#0f172a'
                    footer:
                      description: Building digital excellence for startups and enterprises across India and beyond.
                      copyright: © 2026 GrowBig Technologies LLP. All Rights Reserved.
                      menus:
                        main: main
                        quickLinks: footer
                        services: footer-services
                    meta:
                      source: site_profile
                      nodeId: 1
                      isDefault: true
                      isActive: true

components:
  schemas:
    SiteProfile:
      type: object
      required:
        - id
        - type
        - name
        - shortName
        - domains
        - branding
        - contact
        - seo
        - social
        - theme
        - footer
        - meta
      properties:
        id:
          type: string
          example: growbig
        type:
          type: string
          example: site
        name:
          type: string
          example: GrowBig Technologies LLP
        shortName:
          type: string
          example: GrowBig
        tagline:
          type: string
          example: Building digital excellence for startups and enterprises across India and beyond.
        description:
          type: string
          example: GrowBig Technologies LLP delivers modern websites, mobile applications, cloud solutions, digital transformation, AI-powered software, branding, and technology consulting for startups and enterprises.
        domains:
          $ref: '#/components/schemas/SiteDomains'
        branding:
          $ref: '#/components/schemas/SiteBranding'
        contact:
          $ref: '#/components/schemas/SiteContact'
        seo:
          $ref: '#/components/schemas/SiteSeo'
        social:
          type: array
          items:
            $ref: '#/components/schemas/SocialLink'
        theme:
          $ref: '#/components/schemas/SiteTheme'
        footer:
          $ref: '#/components/schemas/SiteFooter'
        meta:
          $ref: '#/components/schemas/SiteMeta'

    SiteDomains:
      type: object
      properties:
        primary:
          type: string
          format: uri
          example: https://growbig-web.ddev.site
        ui:
          type: string
          format: uri
          example: https://ui.growbig-web.ddev.site
        admin:
          type: string
          format: uri
          example: https://admin.growbig-web.ddev.site
        api:
          type: string
          format: uri
          example: https://api.growbig-web.ddev.site
        website:
          type: string
          format: uri
          example: https://growbig-web.ddev.site

    SiteBranding:
      type: object
      properties:
        logo:
          nullable: true
          allOf:
            - $ref: '#/components/schemas/MediaImage'
        favicon:
          nullable: true
          allOf:
            - $ref: '#/components/schemas/MediaImage'
        defaultImage:
          nullable: true
          allOf:
            - $ref: '#/components/schemas/MediaImage'

    SiteContact:
      type: object
      properties:
        email:
          type: string
          format: email
          example: hello@growbigtech.in
        phone:
          type: string
          example: '+91 00000 00000'
        alternatePhone:
          type: string
          example: '+91 98765 43210'
        address:
          type: string
          example: Narayan Arcade, 1st Floor Above Axis Bank Near ST Stand, Sawantwadi
        city:
          type: string
          example: Sawantwadi
        state:
          type: string
          example: Maharashtra
        country:
          type: string
          example: India
        postalCode:
          type: string
          example: ''
        workingHours:
          type: string
          example: "Mon - Sat: 9:00 AM - 7:00 PM\nSunday: Closed"
        map:
          $ref: '#/components/schemas/SiteMap'

    SiteMap:
      type: object
      properties:
        url:
          type: string
          format: uri
          example: https://maps.google.com/?q=Sawantwadi,Maharashtra,India
        latitude:
          type: number
          nullable: true
          format: float
          example: 15.9046
        longitude:
          type: number
          nullable: true
          format: float
          example: 73.8213

    SiteSeo:
      type: object
      properties:
        title:
          type: string
          example: GrowBig Technologies LLP
        description:
          type: string
          example: GrowBig Technologies LLP delivers websites, mobile apps, software, cloud solutions, and digital consulting for growing businesses.
        image:
          nullable: true
          allOf:
            - $ref: '#/components/schemas/MediaImage'

    SocialLink:
      type: object
      properties:
        platform:
          type: string
          example: LinkedIn
        url:
          type: string
          format: uri
          example: https://www.linkedin.com/
        icon:
          type: string
          example: linkedin
        order:
          type: integer
          example: 20

    SiteTheme:
      type: object
      properties:
        color:
          type: string
          example: '#0f172a'

    SiteFooter:
      type: object
      properties:
        description:
          type: string
          example: Building digital excellence for startups and enterprises across India and beyond.
        copyright:
          type: string
          example: © 2026 GrowBig Technologies LLP. All Rights Reserved.
        menus:
          $ref: '#/components/schemas/SiteFooterMenus'

    SiteFooterMenus:
      type: object
      properties:
        main:
          type: string
          example: main
        quickLinks:
          type: string
          example: footer
        services:
          type: string
          example: footer-services

    SiteMeta:
      type: object
      properties:
        source:
          type: string
          enum:
            - site_profile
            - fallback
          example: site_profile
        nodeId:
          type: integer
          nullable: true
          example: 1
        isDefault:
          type: boolean
          example: true
        isActive:
          type: boolean
          example: true

    MediaImage:
      type: object
      nullable: true
      properties:
        id:
          type: string
          format: uuid
          example: 517cb81d-3fc1-492a-b0d6-4ec23c616a31
        type:
          type: string
          example: image
        title:
          type: string
          example: logo.png
        alt:
          type: string
          example: GrowBig Logo
        url:
          type: string
          format: uri
          example: https://growbig-web.ddev.site/sites/default/files/2026-07/logo.png
        mime:
          type: string
          example: image/png
        width:
          type: string
          example: '1024'
        height:
          type: string
          example: '614'
        styles:
          $ref: '#/components/schemas/ImageStyles'

    ImageStyles:
      type: object
      properties:
        thumbnail:
          type: string
          format: uri
        card:
          type: string
          format: uri
        heroMobile:
          type: string
          format: uri
        heroDesktop:
          type: string
          format: uri
        social:
          type: string
          format: uri
        logo:
          type: string
          format: uri
        wide:
          type: string
          format: uri
        large:
          type: string
          format: uri
        medium:
          type: string
          format: uri
