openapi: 3.0.3
info:
  title: GrowBig Site Platform Frontend API
  version: "1.0.0"
  description: Frontend-only API contract. The backend exposes site content, page content, menus, reusable content, public form metadata/submission endpoints, and per-site analytics config. Admin/dashboard APIs are intentionally not documented here.
servers:
  - url: https://api.growbig-web.ddev.site
    description: Local/dev API
  - url: https://api.example.com
    description: Production API
tags:
  - name: Site
    description: Current site profile and public frontend settings.
  - name: Pages
    description: Dynamic frontend pages.
  - name: Menus
    description: Frontend header/footer menus.
  - name: Content
    description: Reusable frontend content.
  - name: Forms
    description: Public frontend forms.
  - name: Analytics
    description: Per-site public analytics config.
paths:
  /api/v1/site:
    get:
      tags: [Site]
      summary: Get current site profile
      responses:
        "200":
          description: Current site profile.

  /api/v1/pages:
    get:
      tags: [Pages]
      summary: List published frontend pages
      responses:
        "200":
          description: Page list.

  /api/v1/pages/{slug}:
    get:
      tags: [Pages]
      summary: Get page by slug
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Page contract.
        "404":
          description: Page not found.

  /api/v1/menus:
    get:
      tags: [Menus]
      summary: Get frontend menus
      responses:
        "200":
          description: Header and footer menus.

  /api/v1/menus/{menu}:
    get:
      tags: [Menus]
      summary: Get one frontend menu
      parameters:
        - name: menu
          in: path
          required: true
          schema:
            type: string
            enum: [header, footer]
      responses:
        "200":
          description: Menu response.
        "404":
          description: Menu not found.

  /api/v1/content/{source}:
    get:
      tags: [Content]
      summary: List reusable content
      parameters:
        - name: source
          in: path
          required: true
          schema:
            type: string
            enum: [services, partners, team, jobs]
        - name: limit
          in: query
          required: false
          schema:
            type: integer
        - name: featuredOnly
          in: query
          required: false
          schema:
            type: boolean
      responses:
        "200":
          description: Reusable content list.
        "400":
          description: Invalid content source.

  /api/v1/content/{source}/{key}:
    get:
      tags: [Content]
      summary: Get reusable content item
      parameters:
        - name: source
          in: path
          required: true
          schema:
            type: string
            enum: [services, partners, team, jobs]
        - name: key
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Content detail.
        "400":
          description: Invalid content source.
        "404":
          description: Content item not found.

  /api/v1/forms/{form}:
    get:
      tags: [Forms]
      summary: Get public form metadata
      parameters:
        - name: form
          in: path
          required: true
          schema:
            type: string
            enum: [contact-us, job-application]
      responses:
        "200":
          description: Form metadata.
        "404":
          description: Form not found.

  /api/v1/forms/{form}/submit:
    post:
      tags: [Forms]
      summary: Submit public form
      parameters:
        - name: form
          in: path
          required: true
          schema:
            type: string
            enum: [contact-us, job-application]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        "201":
          description: Submission created.
        "400":
          description: Invalid JSON or payload.
        "422":
          description: Validation failed.

  /api/v1/analytics/config:
    get:
      tags: [Analytics]
      summary: Get per-site public analytics config
      responses:
        "200":
          description: Per-site analytics config.

components:
  schemas:
    SiteProfile:
      type: object
      description: Current site profile. Includes domains, branding, contact, SEO, social, theme, footer, and setupProfile.
    Page:
      type: object
      description: Page contract with route, SEO, and renderable sections.
    Menu:
      type: object
      description: Header or footer menu.
    ReusableContent:
      type: object
      description: Service, partner, team member, or job item.
    FormMetadata:
      type: object
      description: Public form metadata.
    AnalyticsConfig:
      type: object
      properties:
        siteKey:
          type: string
        enabled:
          type: boolean
        provider:
          type: string
        measurementId:
          type: string
